@font-face {
  font-family: 'dancing_scriptregular';
  src: url('./fonts/dancingscript-variablefont_wght-webfont.woff2')
      format('woff2'),
    url('./fonts/dancingscript-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweather_sansitalic';
  src: url('./fonts/merriweathersans-italic-variablefont_wght-webfont.woff2')
      format('woff2'),
    url('./fonts/merriweathersans-italic-variablefont_wght-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweather_sansregular';
  src: url('./fonts/merriweathersans-variablefont_wght-webfont.woff2')
      format('woff2'),
    url('./fonts/merriweathersans-variablefont_wght-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #1f262a;
}

h1 {
  font-family: 'merriweather_sansregular';
}

.btn {
  width: 100% !important;
  height: 90% !important;
}

.cell {
  font-family: 'merriweather_sansitalic';
  color: #01060a;
  height: 100px;
  box-shadow: 2px 2px 2px 2px #779ecb;
  border: 2px solid #779ecb;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
}

.waiting {
  background-color: whitesmoke;
  color: #01060a;
  border: 1px solid #1f262a;
  box-shadow: 2px 2px 2px 2px #779ecb;
  width: 50% !important;
}

.chat {
  font-family: 'merriweather_sansregular';
  background-color: whitesmoke;
  color: #01060a;
  margin: 10px;
  border: 1px solid #779ecb;
  border-radius: 10px;
}

.msg {
  margin: 5px;
  border-radius: 10px;
}

/* User message board */
.message {
  font-family: 'merriweather_sansregular';
  color: #01060a;
  height: 100px;
  box-shadow: 2px 2px 2px 2px #779ecb;
  border: 2px solid #779ecb;
  font-size: 20px;
  background-color: lightblue;
  margin: 10px;
  line-height: 50px;
}

li {
  display: block !important;
}

.history {
  display: block;
  max-height: 100px;
  overflow-y: auto;
}

/* Navigation buttons */
.nav-container {
  font-family: 'dancing_scriptregular';
  margin: auto;
  text-align: center;
}

.nav-btn {
  font-family: 'dancing_scriptregular';
  color: white;
  height: 30px;
  width: auto;
  border: 1px solid lightblue;
  border-radius: 5px;
  background-color: #012146;
  margin: 3px;
  padding: 4px;
}

.connect_header {
  font-family: 'dancing_scriptregular';
}

.about {
  font-family: 'dancing_scriptregular';
}

.howtoplay_header {
  font-family: 'dancing_scriptregular';
  font-size: 20px;
}

.spinner {
  width: 50px;
  height: 50px;
  background-image: url('./img/gear.jpg');
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
